extends layout
block content
    h1 Pagina do Aluno

    button(onclick=changePage()) 
    script.
        function changePage(){
            const body = document.querySelector("body")
        }